- title "Home page"
%h1 Home

%h3 Recent notebook entries
- if @posts.empty? or @posts.nil?
  No posts found
%ul.posts
  - for post in @posts
    %li.post
      %b= link_to post.title, post
      = post.date.strftime(' - %b %d, %Y')



%h3 Nested apps
%ul
  %li= link_to 'Kärnkraft Nyheter', '/feeds'