
%h1= title 'Notes of Andrei Fokau'

- if @posts.empty? or @posts.nil?
  No published notes found
%ul.posts
  - for post in @posts
    %li.post
      %b= link_to post.title, post
      = post.date.strftime(' - %b %d, %Y')
  